extends layout

block content
  mixin octave(n)
    .octave
      .white.key(id=`${-9 + 12*(n-4)}`)
      .black.key(id=`${-8 + 12*(n-4)}`)
      .white.key(id=`${-7 + 12*(n-4)}`)
      .black.key(id=`${-6 + 12*(n-4)}`)
      .white.key(id=`${-5 + 12*(n-4)}`)
      .white.key(id=`${-4 + 12*(n-4)}`)
      .black.key(id=`${-3 + 12*(n-4)}`)
      .white.key(id=`${-2 + 12*(n-4)}`)
      .black.key(id=`${-1 + 12*(n-4)}`)
      .white.key(id=`${0 + 12*(n-4)}`)
      .black.key(id=`${1 + 12*(n-4)}`)
      .white.key(id=`${2 + 12*(n-4)}`)

  .synth
    .panel
      .knob
    .octaves
      +octave(4)
      +octave(5)
