extends layout

block content
  mixin octave(n, keys)
    .octave
      .white.key(id=`${-9+12*(n-4)}`, class=keys < 1 ? 'hidden' : '')
      .black.key(id=`${-8+12*(n-4)}`, class=keys < 2 ? 'hidden' : '')
      .white.key(id=`${-7+12*(n-4)}`, class=keys < 3 ? 'hidden' : '')
      .black.key(id=`${-6+12*(n-4)}`, class=keys < 4 ? 'hidden' : '')
      .white.key(id=`${-5+12*(n-4)}`, class=keys < 5 ? 'hidden' : '')
      .white.key(id=`${-4+12*(n-4)}`, class=keys < 6 ? 'hidden' : '')
      .black.key(id=`${-3+12*(n-4)}`, class=keys < 7 ? 'hidden' : '')
      .white.key(id=`${-2+12*(n-4)}`, class=keys < 8 ? 'hidden' : '')
      .black.key(id=`${-1+12*(n-4)}`, class=keys < 9 ? 'hidden' : '')
      .white.key(id=`${0+12*(n-4)}`, class=keys < 10 ? 'hidden' : '')
      .black.key(id=`${1+12*(n-4)}`, class=keys < 11 ? 'hidden' : '')
      .white.key(id=`${2+12*(n-4)}`, class=keys < 12 ? 'hidden' : '') 

  - var lineStyle = 'stroke:#f0f0ff;stroke-width:2;stroke-linecap:round';

  .synth
    .panel
      .oscillator
        h1 OSC1
        .quadbutton
          .button#sine
            svg(width='50', height='50')
              path(d="M20 32 Q 25 10, 30 32" stroke="black" style=lineStyle fill='transparent')
          .button#square
            svg(width='50', height='50')
              line(x1='30', y1='20', x2='30', y2='32', style=lineStyle)
              line(x1='20', y1='20', x2='20', y2='32', style=lineStyle)
              line(x1='20', y1='20', x2='30', y2='20', style=lineStyle)
          .button#triangle
            svg(width='50', height='50')
              line(x1='20', y1='32', x2='25', y2='20', style=lineStyle)
              line(x1='25', y1='20', x2='29', y2='32', style=lineStyle)
          .button#sawtooth
            svg(width='50', height='50')
              line(x1='20', y1='32', x2='29', y2='20', style=lineStyle)
              line(x1='29', y1='20', x2='29', y2='32', style=lineStyle)
      .master
        h1 Master
        .slider
    .octaves
      +octave(3)
      +octave(4)
      +octave(5)
      +octave(6, 1)
